doctype  html
html(lang="RU-ru")
    head
    meta(charset="UTF-8")
    title Проверка списков
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="static/js/script.js")
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/fontawesome.all.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    body
        .calendar
            .container
                .row
                    div
                        <i class="fas fa-arrow-left"></i>
                    div
                        -
                            let date = new Date();
                            let month = date.toLocaleString('ru-RU', { weekday: 'long' });
                        h3(class="month")= month

                    div
                        <i class="fas fa-arrow-right"></i>
        script(src="static/js/ajax.js")
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")