@import "fonts.styl"
@import "libs.styl"
.slider-item
  background-color #ccc
  width 500px
  height 200px
  padding 20px
  margin 0 20px
h3
  font-family Montserrat
h1
  text-align center

form
  text-align center
.red
  background-color red
.green
  background-color green

#submit
  width 200px
  height:50px
  border-radius 20px
  border-radius-color green
  border 1px solid green
  &:hover
    background-color green
    cursor pointer